table, th, td{
    /*border: .4px black solid;*/
    border-bottom: 1px solid;
    border-collapse: collapse;
}

body {
    background-color: #c9d8d5;
    font-family: "Goudy Old Style";
    vertical-align: top;
    horiz-align: center;
}




th, td {
    padding: 8px;
    text-align: left;
}

th  {
    background-color: #1d654a;
    color: white;
}

#currentGrade {
    padding-top: 1%;
}

#gradeNeeded {
    padding-top: 1%;
}

p {
    color: #010101;
}